//
//  NIM.xcconfig
//  NIM
//
//  Created by chris on 15/3/23.
//  Copyright (c) 2015年 Netease. All rights reserved.
//

//DEV  REALEASE
XCCONFIG_MODE  = DEV

//app id
XCCONFIG_BUNDLE_ID_DEV                  = com.netease.NIMDemo
XCCONFIG_BUNDLE_ID_REALEASE             = com.netease.NIM.demo
XCCONFIG_BUNDLE_ID                      = ${XCCONFIG_BUNDLE_ID_${XCCONFIG_MODE}}


//app bundle name
XCCONFIG_BUNDLE_NAME_DEV                = NIM开发版
XCCONFIG_BUNDLE_NAME_REALEASE           = NIM企业版
XCCONFIG_BUNDLE_NAME                    = ${XCCONFIG_BUNDLE_NAME_${XCCONFIG_MODE}}

//code signing
XCCONFIG_CODE_SIGNING_DEV               = iPhone Developer
XCCONFIG_CODE_SIGNING_REALEASE          = iPhone Distribution: Cooperation Communication Operating and Support Center China Telecom
XCCONFIG_CODE_SIGNING                   = ${XCCONFIG_CODE_SIGNING_${XCCONFIG_MODE}}

//provisioning profile
XCCONFIG_PROVISIONING_PROFILE_DEV               =
XCCONFIG_PROVISIONING_PROFILE_REALEASE          = 1a895aab-42c9-4e6f-89ed-a5e1a4685d5a
XCCONFIG_PROVISIONING_PROFILE                   = ${XCCONFIG_PROVISIONING_PROFILE_${XCCONFIG_MODE}}


